@import 'style.css';
.hero-section{

    width: 100%;
    height: calc(100vh - 120 px);
    background-image: url('/bg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }